.container{
    background-color: rgb(107, 201, 233);
    flex-direction: row;
   display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    background-color: rgb(233, 163, 163);
    width: 100px;
    height: 100px;
    margin: 10px;
   text-align: center;
    line-height: 100px;
    font-size: 20px;
  
}
#box {
    position: relative;
}
.btn{
    background-color: #9bf0ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 200px;
   padding: 10px;
  margin: 20px;
  top: 0px;
  left: 0px;
}

#Right
{
    background-color: rgb(226, 128, 230);
}
#Left
{
    background-color: rgb(226, 128, 230);
}
#Up
{
    background-color: rgb(226, 128, 230);
}
#Down
{
    background-color: rgb(226, 128, 230);
}