body{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(to top,#FFBE91,#FFFCE1,#CFEBFF);
}
p{
    font-family:italic;
}
.Data{
    color: green;
}
#Source{
    color: green;
}
.list{
    color:blueviolet;
    font-style:italic;
}
b{
    color:cadetblue;
}
table,th,tr,td{
    border-style:solid;

}
tr td{
    color:brown;
}
ul{
    font-style:italic;
    background-color:lightgray;
    text-align:justify;
    width:fit-content;
    background:linear-gradient(to top,#FFBE91,#FFFCE1,#CFEBFF);
}